/* Geral */
:root {
    --main-color: #00eeff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323956;
    --color-00: #0000001a;

    /*Extra*/
    --color01: #999999;
    --color02: #009539;
    --color03: #7950f2;
    --color04: #c00000;
    --color05: #232323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-family: "Space Mono", sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--bg-color-01);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--color01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    border: solid 1px var(--color02);
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.nav a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
    border: solid 1px var(--color02);
}

.nav a:hover {
    color: var(--main-color);
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
}   

.home, .sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.home-img img {
    border-right: solid 0.6rem var(--main-color);
    border-bottom: solid 0.6rem var(--main-color);
    border-image: linear-gradient(135deg, transparent 50%, var(--main-color)) 1;
    width: 100px;
    border-image-slice: 1;
   /*margin-top: 0;
    margin-left: 20px;*/
}

.sobre-img img {
    border-left: solid 0.6rem var(--main-color);
    border-bottom: solid 0.6rem var(--main-color);
    border-image: linear-gradient(225deg, transparent 50%, var(--main-color)) 1;
}

.home-img img, .about-img img {
    width: 80%;
}

.sobre {
    background-color: var(--bg-color-02);
}

.home-content, .sobre-content {
    width: 45%;
}

.home-content h1, .sobre-content h1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.7rem;
}

.home-content h3, .sobre-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}












/* Navbar */

.nav-container {
    width: 100%;
    height: 60px;
    background-color: #525050;
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

nav {
    position: relative;
}

.navbar-items {
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 80px;
    margin: 0;
    padding: 0;
    line-height: 80px;
    left: 36%;
}

.navbar-items li {
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
}

.navbar-items li a {
    color:  #fff;
    text-decoration: none;
}

hr {
 width: 80%;   
 height: 1px;
 color: #fff;
 background-color: #fff;
}

/* Main Banner */ 
.main-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 60px;
    background-color: #525050;
}

.text-container  {
    height: auto;
    margin: 0 20px 0 0;
    padding: 0;
    color: #fff;
}

.text-container h1 {
    font-size: 35px;
}

.text-container span {
    font-size: 20px;
}

.text-container p {
    font-size: 10px;
}

.foto_perfil {
    width: 200px;
    margin-top: 0;
    margin-left: 20px;
}

