/* Geral */
:root {
    --main-color: #00eeff;
    --main-color2:  #21d4fd, #b721ff;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #1D344F;
    --color-00: #0000001a;
    --teste: linear-gradient(to left, #21d4fd, #b721ff);

    /*Extra*/
    --color01: #999999;
    --color02: #009539;
    --color03: #7950f2;
    --color04: #c00000;
    --color05: #232323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    font-family: "Space Mono", sans-serif;
    font-size: 16px;
}

body{
    background-color: var(--bg-color-02);
    color: var(--text-color);
    /*margin: 0;
    padding: 0;*/
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: var(--bg-color-01);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    /*border: solid 1px var(--bg-color-01);*/
}

hr {
    padding: 0.01rem;
    display: flex;
    width: 100%;;
    background-image: linear-gradient(to left, #21d4fd, #b721ff);
}

.logo {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar-items-responsive {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-color-01);
}

.nav a, .navbar-items-responsive a {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    transition: 0.4s;
}

.nav a:hover, .navbar-items-responsive a:hover {
    background: linear-gradient(to left, #21d4fd, #b721ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

span { 
    font-size: 2rem;
    background: linear-gradient(to left, #21d4fd, #b721ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

section {
    min-height: 100vh;
    padding: 6rem 6rem 2rem;
}   

.home, .sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.home-img {
    border-right: solid 0.6rem ;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(135deg, transparent 50%, var(--main-color2)) 1;
    /*width: 40%;
    margin-top: 0;
    margin-left: auto;*/
}

.sobre-img {
    border-left: solid 0.6rem ;
    border-bottom: solid 0.6rem ;
    border-image: linear-gradient(225deg, transparent 50%, var(--main-color2)) 1;
}

.home-img img, .sobre-img img {
    width: 100%;
}

.sobre {
    background-color: var(--bg-color-02);
}

.home-content, .sobre-content {
    width: 45%;
}

.home-content h1, .sobre-content h1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.7rem;
}

.home-content h3, .sobre-content h3 {
    font-weight: 700;
    font-size: 1.6rem;
}

.home-content p, .sobre-content p {
    font-size: 1.2rem;
    text-align: justify;
}

/*SERVIÇOS*/
.services h2,
.portfolio h2,
.contato h2 {
    font-size: 2.2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.services {
    background-color: var(--bg-color-01);
}

.contato {
    background-color: var(--bg-color-01);
}

.services-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 25rem;
    margin-bottom: 1rem;
}

.services-container .services-box {
    padding: 2rem 1rem 2.5rem;
    border-radius: 1.2rem;
    text-align: center;
    border: solid 0.15rem var(--main-color);
    background-color: var(--bg-color-02);
    transition: 0.5 ease;
}

.services-container .services-box:hover {
    border-color: var(--color03);
    -webkit-background-clip: text;
    transform: scale(1.01);
}

.services-box i {
    font-size: 4.3rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 1.5rem;
}

.services-box p {
    margin: 0.5rem;
    letter-spacing: 0.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* Navbar */

.nav-container .navbar-items-responsive {
    width: 100%;
    height: 60px;
    background-color: var(--bg-color-01);
    padding: 0 2em;
    position: relative;
    box-sizing: border-box;
}

/* NAVBAR ITEMS */

.navbar-items, .navbar-items-responsive {
    list-style: none;
    position: absolute;
    display: inline-block;
    height: 80px;
    margin: 0;
    padding: 0;
    line-height: 80px;
    left: 36%;
}

.navbar-items li, .navbar-items-responsive li {
    display: inline-block;
    margin-left: 30px;
    font-size: 16px;
}

.navbar-items li a, .navbar-items-responsive li a {
    color:  #fff;
    text-decoration: none;
}

hr {
 width: 80%;   
 height: 1px;
 color: #fff;
 background-color: #fff;
}

/* PORTFOLIO */

.portfolio {
    background-color: var(--bg-color-02);
}

.portfolio-container {
    display: grid;
    gap: 1.2rem;
}

.portfolio-box {
    position: relative;
    border-radius: 0.6rem;
    box-shadow: 0 0 0.6rem var(--bg-color-01);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box img:hover {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, #21d4fd, #b721ff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(30rem);
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);
}

.portfolio-box .portfolio-layer h4 {
    font-size: 1.2rem;
    color: var(--color05);
}

.portfolio-layer p {
    margin: 0.1rem 1 1rem;
    color: var(--color05);
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    /*background: var(--text-color);*/
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 1rem;
    color: var(--bg-color-02);
}
/*************/

/*FORMULARIO*/

form {
    max-width: 45rem;
    margin: 0.6rem auto;
    text-align: center;
    margin-bottom: 2rem;

  
}

form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

form .input-box input, 
form textarea {
    width: 100%;
    margin: 0.4rem 0;
    padding: 1rem;
    font-size: 1rem;
    outline: none;
    border-radius: 0.5rem;
    background-color: var(--bg-color-02);
    color: var(--text-color);

}

form textarea {
    resize: none;
    height: 15rem;
}

/*FOOTER*/

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: var(--bg-color-01);
}

/*SOCIAL MEDIAS*/
.social-media img{
    width: 3.5rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    /*background: transparent;*/
    background: linear-gradient(to left, #21d4fd, #b721ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*border: solid 0.15rem var(--main-color);*/
    border-radius: 50%;
    margin: 1.8rem 0.5rem;
    font-size: 2rem;
    color: var(--main-color);
    transition: 0.5s ease;
}

.social-media a:hover {
    background-color: var(--main-color);
    color: var(--bg-color-02);
    box-shadow: 0 0 0.3rem var(--main-color);
}

/* Button */
.btn {
    display: inline-block;
    padding: 0.7rem 1.5rem;
    background: var(--teste);
    color: var(--bg-color-02);
    border-radius: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    transition: 0.3s ease;
    margin-top: 1.2rem;
}

.btn:hover {
    box-shadow: 0 0 0.3rem var(--main-color);
    background-color: inherit;
    color: var(--main-color);
    cursor: pointer;
}

/* MENU HAMBUERGER */
.menu-hamburguer {
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 28px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: 0.3s ease;
}

.change .bar1 {
    transform: translate(0, 0.65rem) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -0.65rem) rotate(45deg);
}

.cmais, .mysql, .csharp, .frontandback {
    width: 65px;
    height: 65px;
    margin: 0 auto;
}

/* MEDIA QUERIES */
@media (min-width: 0px) {
    .menu-hamburguer {
        display: block;
    }

    .nav {
        display: none;
    }

    .navbar-items-responsive a {
        display: block;
        font-size: 1.2rem;
        margin: 0.5rem 0;
    }

    section {
        padding: 6rem 2.5rem;
    }

    .home, .sobre {
        flex-direction: column;
        gap: 1.2rem;
    }

    .home-img, .sobre-img {
        width: 80%;
        max-width: 80%;
    }

    .home-content, .sobre-content {
        width: 100%;
    }

    .home-content div {
        text-align: center;
    }

    .home-content h1, .sobre-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.3;
    }

    .services-box {
        width: 100%;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }
    
}

@media (min-width: 576px) {
    .home-img, .sobre-img {
        width: 65%;
        max-width: 65%;
    }
    .services-box {
        width: 70%;
    }

}

@media (min-width: 768px) {
    .menu-hamburguer {
        display: none;
    }
    .nav {
        display: block;
    }
    .navbar-items-responsive, .navbar-items-responsive a {
        display: none;
    }
    .home, .sobre {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-img, .sobre-img {
        max-width: 35%;
    }

    .home-content, .sobre-content {
        width: 50%;
    }

    .services-box {
        width: 60%;
        margin-bottom: 2rem;
    }

    .portfolio-container {
        grid-template-columns: auto auto;
    }

    .form .input-box input {
        width: 49%;
    }
}

@media (min-width: 992px) {
   /* .home-img, .sobre-img {
        max-width: 35%;
    }*/
    
    .services-container {
        flex-direction: row;
        gap: 1.2rem;
    }
}

@media (min-width: 1200px) {
    .home-img, .sobre-img {
        max-width: 25%;
    }

    .home-content h1 {
        font-size: 2.7rem;
    }

    .home-content h3 {
        font-size: 2rem;
    }

    .portfolio-container {
        grid-template-columns: auto auto auto;
    }
    
}





